@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap'); /*Textos font-family: 'Kite One', sans-serif;*/


* {
    margin: 0;
    padding: 0;
}

.figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    border-radius: 25px 25px 25px 25px;
-moz-border-radius: 25px 25px 25px 25px;
-webkit-border-radius: 25px 25px 25px 25px;
  }
  
  .figure img {
    height: 55vmin;
    width: 100%;
    background-color: #222;
    border-radius: 25px 25px 0px 0px;
    -moz-border-radius: 25px 25px 0px 0px;
    -webkit-border-radius: 25px 25px 0px 0px;
    border: 0px solid #000000;
  }
  
 .figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    font-size: 10px;
    text-align: center;
    
  }

  .figure p {
    font-size: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #fff;
  }