.cartao{
  
  border-radius: 30px 30px 30px 30px;
-moz-border-radius: 30px 30px 30px 30px;
-webkit-border-radius: 30px 30px 30px 30px;
border: 0px solid #000000;
}
.bodyCard{
background-color: #020516;  opacity: 0.8;
}
.title_card{
  font-size:  5vmin;
  color: aliceblue;
}
.text_card{
  font-size: 3vmin;
  color: aliceblue;
}
.list_group_flush{
  font-size: 1.5vmin;
}
.bodyLink{
  font-size: 10px;
}