.cartao{
  width: 15em;
  height: 10em;
  border-radius: 0px 0px 30px 30px;
-moz-border-radius: 0px 0px 30px 30px;
-webkit-border-radius: 0px 0px 30px 30px;
border: 1px transparent #000000;
}
.bodyCard{
background-color: #020516;  opacity: 0.6;
}
.title_card{
  font-size:  5vmin;
  color: aliceblue;
}
.text_card{
  font-size: 3vmin;
  color: aliceblue;
}
.list_group_flush{
  font-size: 1.5vmin;
}
.bodyLink{
  font-size: 10px;
}

.img{
  background-color: #000000;
  opacity: 0.4;
  height: 20vh;
}