*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
}

#about, #blog {
  color: #e1d6f6;
  background: #084d6e  ;
}

#projects,
#contact {
  color: #084d6e;
  background: #e1d6f6;
}