*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container-noticia{
  display: flex;
  padding: 2vh;
  border-bottom: 1vh solid #1235;
}

.container-noticia img {
  width: 30%;
  height: 45%;
}

.container-noticia p {
  width: 70%;
  height: 55%;
  padding: 20px;
}